
@{
    Layout = null;
   
}

<!DOCTYPE html>
<html lang="en">
@Html.Partial("/Views/Shared/_HeadPartial.cshtml")
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/Image/logoanasayfa2.png" alt="AdminLTELogo" height="100" width="100">
        </div>


        <!-- Navbar -->
        @Html.Partial("/Views/Shared/_NavbarPartial.cshtml")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @Html.Partial("/Views/Shared/_SidebarPartial.cshtml")


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        @Html.Partial("/Views/Shared/_FooterPartial.cshtml")

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    @Html.Partial("/Views/Shared/_ScriptPartial.cshtml")
</body>
</html>

