@using SSY_Project.Models.Entity
@model List<Data_Users>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}


<!DOCTYPE html>

<html>



<body class="hold-transition sidebar-mini">

    <div class="wrapper">

        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Header (Page header) -->

        <section class="content-header">

            <div class="container-fluid">

                <div class="row mb-2">

                    <div class="col-sm-6">

                        <h1>Profilim</h1>

                    </div>



                </div>

            </div><!-- /.container-fluid -->

        </section>

        <!-- Main content -->

        <section class="content">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-3">

                        <!-- Profile Image -->

                        <div class="card card-primary card-outline">

                            <div class="card-body box-profile">

                                <div class="text-center">

                                    <img class="profile-user-img img-fluid img-circle" style=""
                                         src="@ViewBag.image"
                                         alt="User profile picture">

                                </div>



                                <h3 class="profile-username text-center">@ViewBag.firma</h3>

                                <p class="text-muted text-center">@ViewBag.m</p>

                                <ul class="list-group list-group-unbordered mb-3">

                                    @*<li class="list-group-item">

                                            <b>Toplam Satış:</b> <a class="float-right">@ViewBag.toplamsatis</a>

                                        </li>*@

                                    @*<li class="list-group-item">

                                            <b>Toplam Satış Tutar:</b> <a class="float-right">@ViewBag.toplamtutar ₺</a>

                                        </li>

                                        <li class="list-group-item">

                                            <b>Toplam Ürün Sayısı:</b> <a class="float-right">@ViewBag.toplamurunsayisi</a>

                                        </li>*@

                                </ul>


                            </div>

                            <!-- /.card-body -->

                        </div>

                        <!-- /.card -->
                        <!-- About Me Box -->

                        <div class="card card-primary">

                            <div class="card-header">

                                <h3 class="card-title">Hakkımda</h3>

                            </div>

                            <!-- /.card-header -->



                            <div class="card-body">

                                <strong><i class="fas fa-user-tie"></i> Ünvan</strong>
                              
                                    <p class="text-muted">

                                        Firma

                                    </p>
                               

                                <hr>

                                <strong><i class="fas fa-user-alt mr-1"></i> Yetkili</strong>

                                <p class="text-muted">@ViewBag.firmaadres</p>

                                <hr>

                                <strong><i class="fas fa-phone"></i> Telefon</strong>


                                <p class="text-muted">@ViewBag.firmatelefon</p>

                                <hr>

                                <strong><i class="fas fa-envelope "></i> Mail </strong>

                                <p class="text-muted">@ViewBag.firmamail</p>

                                <hr>

                            </div>

                            <!-- /.card-body -->

                        </div>

                        <!-- /.card -->

                    </div>

                    <!-- /.col -->

                    <div class="col-md-9">

                        <div class="card">

                            <div class="card-header p-2">

                                <ul class="nav nav-pills">



                                    <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Profil Bilgilerini Düzenle</a></li>


                                </ul>

                            </div><!-- /.card-header -->

                            <div class="card-body">

                                <div class="tab-content">



                                    <div class="tab-pane" id="settings activity">


                                        @Html.Action("Edit", "Profile")
                                    </div>

                                    <!-- /.tab-pane -->

                                </div>

                                <!-- /.tab-content -->

                            </div><!-- /.card-body -->

                        </div>

                        <!-- /.nav-tabs-custom -->

                    </div>

                    <!-- /.col -->

                </div>

                <!-- /.row -->

            </div><!-- /.container-fluid -->

        </section>

        <!-- /.content -->

    </div>

    <!-- /.content-wrapper -->
    <!-- /.control-sidebar -->
    <!-- ./wrapper -->
    <!-- jQuery -->



</body>

</html>

