
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

@Html.Partial("Weather", "Dashboard")
<br />

@Html.Partial("Economy", "Dashboard")

@Html.Partial("Statistic", "Dasboard")


<div class="row">
    <!-- Left col -->
    <section class="col-lg-6 float-left connectedSortable">
        @Html.Action("EcsUrunler", "Dashboard")
    </section>
    <section class="col-lg-6 float-right connectedSortable">
        @Html.Action("EcsCari", "Dashboard")
    </section>
</div>
<div class="row">
    <!-- Left col -->
    <section class="col-lg-12  connectedSortable">
        @Html.Action("EcsTutar", "Dashboard")
    </section>
    @*<section class="col-lg-6 float-right connectedSortable">
        @Html.Action("EcsCari", "Dashboard")
    </section>*@
</div>