@using SSY_Project.Models.Entity
@model List<Data_StokList>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<div class="mt-5 card">
    <div class="card-header">
        <h3 class="card-title">Stok Listesi</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr style="text-align:center;">

                    <th>STOK KODU</th>
                    <th>BARCODE</th>
                    <th>MALIN CİNSİ</th>
                    <th>BİRİM</th>
                    <th>ENVANTER</th>
                    <th>SATIŞ FIYATI</th>
                    <th>KOD1</th>
                    <th>KOD5</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var stok in Model)
                {
                                      <tr style="text-align:center;">
                        <td>@stok.STOKKODU</td>
                        <td>@stok.BARCODE</td>
                        <td>@stok.MALINCINSI</td>
                        <td>@stok.BIRIMADI</td>
                        <td>@stok.ENVANTER</td>
                        @*<td> @stok.ENVANTER.Substring(0, stok.ENVANTER.Substring(0, 10).LastIndexOf(".")),@stok.ENVANTER.Split('.').Last().Substring(0, 2)</td>
                        <td>@stok.SATISFIYATI1.Split('.')[0],@stok.SATISFIYATI1.Split('.').Last().Substring(0, 2) </td>*@
                        <td>@stok.SATISFIYATI1 ₺</td>
                        <td>@stok.KOD1</td>
                        <td>@stok.KOD5</td>

                    </tr>
                }
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>

