@using SSY_Project.Models.Entity
@model List<data_fiyatdegisen>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
   
}

<div class="mt-5 card">
    <div class="card-header">
        <h3 class="card-title">Fiyatı Değişen Ürünler Listesi</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                
                    <th>STOK KODU</th>
                    <th>MALIN CİNSİ</th>
                    <th>KOD5</th>
                    <th>MALİYET</th>
                    <th>ENVANTER</th>
                    <th>SATISFIYATI1</th>
                    <th>BARCODE</th>
                    <th>BIRIMADI</th>
                    <th>FİYAT DEĞİŞTİRME TARİHİ</th>
                    <th>KOD1</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var stok in Model)
                {
                    <tr>
                        
                        <td>@stok.STOKKODU</td>
                        <td>@stok.MALINCINSI</td>
                        <td>@stok.KOD5</td>
                        <td>@stok.MALIYET</td>
                        <td>@stok.ENVANTER</td>
                        <td>@stok.SATISFIYATI1</td>
                        <td>@stok.BARCODE</td>
                        <td>@stok.BIRIMADI</td>
                        <td>@stok.FIYATDEGISMETARIHI1</td>
                        <td>@stok.KOD1</td>
                    </tr>
                  
                }
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>

