@using SSY_Project.Models.Entity
@model List<Data_GecSipList>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<div class="mt-5 card">
    <div class="card-header">
        <h3 class="card-title">Geçmiş Sipariş Listesi</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    @*tarih malın cinsi satış fiyatı1 kdvdahil miktar toplamkdv aratoplam genel toplam*@
                    <th>TARİH</th>
                    <th>MALIN CİNSİ</th>
                    <th>1. SATIŞ FIYATI</th>
                    <th>KDV DAHİL</th>
                    <th>MİKTAR</th>
                    <th>TOPLAM KDV</th>
                    <th>ARA TOPLAM</th>
                    <th>GENEL TOPLAM</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {

                    var tarih = Convert.ToDateTime(order.TARIH);
                    var satisfiyati = Convert.ToDecimal(order.SATISFIYATI1);
                    var toplamkdv = Convert.ToDecimal(order.TOPLAMKDV);
                    var aratoplam = Convert.ToDecimal(order.ARATOPLAM);
                    var geneltoplam = Convert.ToDecimal(order.GENELTOPLAM);


                    <tr>
                        <td>@tarih.ToShortDateString()</td>
                        @*<td>@order.TARIH</td>*@
                        <td>@order.MALINCINSI</td>
                        @*<td>@order.SATISFIYATI1</td>*@
                        <td>@String.Format("{0:C}", satisfiyati)</td>
                        @if (order.KDVDAHIL == "True")
                        {
                            <td>Evet</td>
                        }
                        else
                        {
                            <td>Hayır</td>
                        }
                        @*<td>@order.KDVDAHIL</td>*@
                        <td>@order.MIKTAR</td>
                        @*<td>@order.TOPLAMKDV</td>*@
                        <td>@String.Format("{0:C}", toplamkdv)</td>
                        @*<td>@order.ARATOPLAM</td>*@
                        <td>@String.Format("{0:C}", aratoplam)</td>
                        @*<td>@order.GENELTOPLAM</td>*@
                        <td>@String.Format("{0:C}", geneltoplam)</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>

