@using SSY_Project.Models.Entity
@model List<data_songelenler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
    int sira = 1;
}

<div class="mt-5 card">
    <div class="card-header">
        <h3 class="card-title">Son Gelenler Listesi</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>STOK KODU</th>
                    <th>MALIN CİNSİ</th>
                    <th>KOD5</th>
                    <th>KOD1</th>
                    <th>SATIŞ FİYATI</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var recentArrival in Model)
                {
                    <tr>

                        <td>@sira</td>
                        <td>@recentArrival.STOKKODU</td>
                        <td>@recentArrival.MALINCINSI</td>
                        <td>@recentArrival.KOD5</td>
                        <td>@recentArrival.KOD1</td>
                        <td>@recentArrival.SATISFIYATI1</td>
                    </tr>
                    sira++;
                }
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>

