@using SSY_Project.Models.Entity
@model List<Data_SonGelenler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
    int sira = 1;
}

<div class="mt-5 card">
    <div class="card-header">
        <h3 class="card-title">Son Gelenler Listesi</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr style="text-align:center;">
                    <th>STOK KODU</th>
                    <th>BARCODE</th>
                    <th>MALIN CİNSİ</th>
                    <th>BİRİM</th>
                    <th>ENVANTER</th>
                    <th>SATIŞ FİYATI</th>
                    <th>KART AÇILMA TARİHİ</th>
                    <th>KOD1</th>
                    <th>KOD5</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var recentArrival in Model)
                {


                    var date = Convert.ToDateTime(recentArrival.KARTINACILMATARIHI);
                    <tr style="text-align:center;">
                        <td>@recentArrival.STOKKODU</td>
                        <td>@recentArrival.BARCODE</td>
                        <td>@recentArrival.MALINCINSI</td>
                        <td>@recentArrival.BIRIMADI</td>
                        <td>@recentArrival.ENVANTER</td>
                        <td>@recentArrival.SATISFIYATI1 ₺</td>
                        @*<td>@recentArrival.KARTINACILMATARIHI</td>*@
                        <td>@date.ToShortDateString()</td>
                        <td>@recentArrival.KOD1</td>
                        <td>@recentArrival.KOD5</td>

                    </tr>
                    sira++;
                }
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>

