<!--@using SSY_Project.Models.Entity
@model List<Data_CariDetay>
@{
    ViewBag.Title = "CustomerDetail";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}
<br />


<div class="mt-5 card">
    <div class="card-header">
        <h3 class="card-title">Cari Detay</h3>
    </div>-->
    <!-- /.card-header -->
    <!--<div class="mt-3 row d-flex justify-content-center">
        <a class="btn btn-primary" href="/Customer/Index"><i class="fas fa-users"></i> Cari Listesi</a> &nbsp;
        <a class="btn btn-primary" href="/Customer/CustomerInfo/@ViewBag.id"><i class="fas fa-info"></i> Cari Bilgi</a> &nbsp;
        <a class="btn btn-primary" href="/Customer/OldBillofSale/@ViewBag.id"><i class="fas fa-file"></i> Eski Satış Faturaları</a> &nbsp;
        <a class="btn btn-primary" href="/Customer/LastCollection/@ViewBag.id"><i class="fas fa-edit "></i> Eski Tahsilatlar</a> &nbsp;
    </div>
    <hr />
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>

                    <th>TARIH</th>
                    <th>BELGENO</th>
                    <th>ISLEMIZAHAT</th>
                    <th>ALACAK</th>
                    <th>BORC</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    var date = Convert.ToDateTime(customer.TARIH);
                    var alacak = Convert.ToDecimal(customer.ALACAK);
                    var borc = Convert.ToDecimal(customer.BORC);
                <tr>

                    <td>@date.ToShortDateString()</td>
                    <td>@customer.BELGENO</td>
                    <td>@customer.ISLEMIZAHAT</td>
                    <td>@String.Format("{0:C}", alacak)</td>
                    <td>@String.Format("{0:C}", borc)</td>
                </tr>
                }
            </tbody>

        </table>
    </div>-->
    <!-- /.card-body -->
<!--</div>-->

