@using SSY_Project.Models.Entity
@model List<Data_SatFatDet>
@{
    ViewBag.Title = "OldBillofSaleDetail";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<div class="mt-5 card">
    <div class="card-header">
        <h3 class="card-title">Satış Fatura Detayları </h3>
    </div>
    <br />
    <div class="mt-3 row d-flex justify-content-center">
        <a class="btn btn-primary" href="/Customer/Index"><i class="fas fa-users"></i> Cari Listesi</a> &nbsp;
        <a class="btn btn-primary" href="/Customer/CustomerDetail/@ViewBag.id"><i class="fas fa-users"></i> Cari Detayı</a> &nbsp;
        <a class="btn btn-primary" href="/Customer/CustomerInfo/@ViewBag.id"><i class="fas fa-info"></i> Cari Bilgi</a> &nbsp;
        <a class="btn btn-primary" href="/Customer/LastCollection/@ViewBag.id"><i class="fas fa-edit "></i> Eski Tahsilatlar</a> &nbsp;
    </div>
    <hr />
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>MALIN CİNSİ</th>
                    <th>MİKTAR</th>
                    <th>BİRİM</th>
                    <th>BİRİM FİYAT</th>
                    <th>KDV</th>
                    <th>KDV DAHİL TOPLAMI</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.MALINCINSI</td>
                        <td>@customer.MIKTAR</td>
                        <td>@customer.BIRIM</td>
                        <td>@customer.BIRIMFIYAT</td>
                        <td>@customer.KDV</td>
                        <td>@customer.KDVDAHILTOPLAM</td>


                    </tr>


                }
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>



